@model ResponseBase

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Giriş Yap</title>
</head>
<body>
<div>
    @if (!string.IsNullOrEmpty(Model?.Message))
    {
        <p>@Model.Message</p>
    }
</div>
</body>
</html>
