@{
    ViewData["Title"] = "Ücretsiz İngilizce Seviye Testi";
    ViewData["Description"] = "İngilzice ücretsiz seviye testi ile ingilizce seviyenizi ölçün ve kurslarımızdan birine hemen başlayın";
    Layout = "_LayoutMulti";
}

<div class="container">
    <!-- Article categories -->
    <div class="categories">
        <span class="category">ÜCRETSİZ HER SEVİYEYE UYGUN</span>
    </div>
    
    <!-- Article title -->
    <h1>İngilizce Seviye Tespit Sınavı</h1>
    <p class="info-p">Aşağıda 10 adet çeviriyi yaptıktan sonra sonuçları göster butonuna basın, eğer cevaplarınızın en az 7 tanesi doğru ise seviyeniz <span class="highlights">A1</span> veya <span class="highlights">A2</span>dir.</p>
    
    <div>
        <h4>Cevapları Göster</h4>
        <div class="toggle-switch">
            <input type="checkbox" id="toggle" class="toggle-input">
            <label for="toggle" class="toggle-label">
                <span class="toggle-slider"></span>
            </label>
        </div>
    </div>
    <ul>
        <li class="level-test-item">Koşma! Arabalar çok hızlı. Karşıya dikkatli geç.</li>
        <li class="level-test-item">Bugün buluşamayız çünkü yorgunum. Belki yarın buluşabiliriz.</li>
        <li class="level-test-item">Eve gidemiyorum çünkü çok trafik var.</li>
        <li class="level-test-item">Bugün maalesef burada kalmak zorundayız.</li>
    </ul>
</div>

<div class="content-container">
    <!-- Article content -->
    <div class="content">
    </div>
</div>
